fieldset {
	margin:0;
	border:0;
	padding:0;
}
body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 0 0px;
	margin: 0;
	overflow-x: hidden;
}
* {
	font-family: 'Fjalla One', sans-serif;
}
.main-container {
	position: relative;
	left: 0;
	-webkit-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	-ms-transition: left 0.4s ease-in-out;
	-o-transition: left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}



/*sidebar*/
#menu {
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: #000;
	}
}
.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 255px;
	border-right: 1px solid #92dbfd;
	background-color: #92dbfd;
	-webkit-overflow-scrolling: touch;
	display: none;
}
.slideout-menu {
	ul {
		margin-top: 0;
		padding: 0;

		li a {
			padding: 5px 0 5px 40px;
			display: block;
			cursor: pointer;
			border-bottom: 1px solid #fff;

			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
}

.toggle-button {
	position: absolute;
	top: 0.2%;
	left: 0.5%;
	background-color: #00aeff;
	padding: 10px 15px;
	font-size: 16px;
	border: 0;
	border-radius: 4px;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open {
	.slideout-menu {
		display: block;
	}
}

.main-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	background-color: #fff;
}
.main-content {
	.content {
		h1 {
			font-weight: 100;
		}
		p {
			width: 100%;
			line-height: 160%;
		}
	}
	#sidebar-toggle {
		background: #547EBA;
		border-radius: 3px;
		display: block;
		position: relative;
		padding: 10px 7px;
		float: left;
		margin: 10px;
		z-index: 4;
		.bar{
			display: block;
			width: 18px;
			margin-bottom: 3px;
			height: 2px;
			background-color: #fff;
			border-radius: 1px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 100500;
	-webkit-transition: opacity 333ms ease;
	-moz-transition: opacity 333ms ease;
	-ms-transition: opacity 333ms ease;
	-o-transition: opacity 333ms ease;
	transition: opacity 333ms ease;
}
.page-preloader.hide {
	opacity: 0;
}
.page-preloader.remove {
	display: none;
}

#page-preloader .spinner {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../images/default.gif') no-repeat 50% 50%;
	margin: -16px 0 0 -16px;
}

.l {
	float: left;
}
.r {
	float: right;
}
.clearfix::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
html {
	width: 100%;
	height: 100%;
}
.wrapper {
	min-width: 200px;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2%;
}
header {
	padding: 30px 0;
}
.logo-container {
	display: inline-block;

	.logo {
		background-image: url(../images/logo.png);
		width: 189px;
		height: 47px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 50px;
	}
}
.nav {
	display:inline-block;
}
.nav {
	.item {
		display: inline-block;
		position:relative;
		margin: 0 20px 0 0;

		&:after {
			content:'';
			border-right: 2px solid #a1a1a1;
			display:inline-block;
			height:11px;
			margin-left: 20px;
		}
		&:last-child::after {
			display:none;
		}
		.cap {
			text-decoration: none;
			color: #626262;
			text-transform: uppercase;
			font-size: 16px;

			&:hover,
			&.active {
				color:#00aeff;
				-webkit-transition: color 300ms ease;
				-moz-transition: color 300ms ease;
				-ms-transition: color 300ms ease;
				-o-transition: color 300ms ease;
				transition: color 300ms ease;
			}
		}

		&.sub-box > .sub-menu {
			display:none;
			position:absolute;
		}
	}
}
.nav.head {
	margin: 15px 30px 0 0;
	float: right;
}

.search-container {
	display: inline-block;
	background-color: #f1f3f6;
	padding: 3px 10px;
	float: right;
	margin-top: 8px;

	fieldset {
		display:inline-block;
	}
}
.search-container {
	.text {
		border: 0;
		padding: 0;
		width: 85px;
		color: #a3a3a3;
		background-color: transparent;
		font-size: 15px;
		font-style: italic;
	}
}
.search-container .text:focus {
	outline:none;
}
.search-container .button-search {
	border: 0;
	background-color: transparent;
	background-image: url(../images/search-icon.png);
	width: 20px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;

	&:focus {
		outline:none;
	}
}
.caption {
	color: #fff;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0;
}
.button {
	display: inline-block;
	background-color: #00aeff;
	color: #fff;
	padding: 17px 58px;
	font-size: 22px;
	border-radius: 3px;
	cursor: pointer;
}
.level-0 {
	background-color: #31333e;
	text-align: center;

	.caption{
		display: block;
		font-size: 44px;
		padding: 20px 0 10px 0;
	}
	.container {
		padding: 45px 0;
	}
	.slider-container {
		width: 80%;
		margin: 25px auto 0;
	}
}
.owl-carousel {
	.owl-dots {
		.owl-dot {
			display: inline-block;

			span {
				background: none repeat scroll 0 0 #869791;
				border-radius: 20px;
				height: 12px;
				display: inline-block;
				margin: 5px 7px;
				opacity: 0.5;
				width: 12px;
			}
		}
	}
}
.owl-carousel .owl-dots .owl-dot 
.owl-carousel .owl-dots .owl-dot span:hover,
.owl-carousel .owl-dots .owl-dot.active span {
	background: none repeat scroll 0 0 #119750;
}
.owl-theme {
	.owl-controls {
		.owl-page {
			display: inline-block;
		}
		.owl-page span {
			background: none repeat scroll 0 0 #869791;
			border-radius: 20px;
			display: block;
			height: 12px;
			margin: 5px 7px;
			opacity: 0.5;
			width: 12px;
		}
	}
}
.owl-theme .owl-controls 
.owl-theme {
	.owl-controls {
		.owl-page {
			display: inline-block;

			span {
				background: none repeat scroll 0 0 #869791;
				border-radius: 20px;
				display: block;
				height: 12px;
				margin: 5px 7px;
				opacity: 0.5;
				width: 12px;
			}
		}
	}
}

.level-1 {
	.container {
		padding: 90px 0 70px 0;
		text-align: center;
	}
	.servic {
		display: inline-block;
		width: 30%;

		.topic {
			font-size: 30px;
			color: #626262;
		}
		.thumb {
			width:100px;
			height:100px;
			display:block;
			margin: 20px auto;
		}
		&.design .thumb {
			background-image: url(../images/lev1-thumb-2.png);
		}
		&.media .thumb {
			background-image: url(../images/lev1-thumb-0.png);
		}
		&.app .thumb {
			background-image: url(../images/lev1-thumb-1.png);
		}
		.text {
			font-size: 15px;
			color: #2a2e39;
			padding: 0 5px 20px 5px;
		}
		a {
			text-decoration: none;
			color: #00aeff;
			text-transform: uppercase;
		}
	}
}


.level-2 {
	background: #e2e7ed;

	.gallery {
		width: 80%;
		margin: 0 auto;
		padding: 2% 0;
	}
	.img-list {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			list-style: none;
			padding: 5px;
		}
		img {
			width: 320px;
			max-width: 100%;
			height: 180px;
		}
	}
}
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 25px 0;
	display: none;
	overflow-y: auto;
	z-index: 2;
	justify-content: center;
    align-items: center;

	.overlay {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.8);
	}
	figure {
		display: inline-block;
		position: relative;
		z-index: 1;
		width: 80%;

		img {
			width: 80%;
			height: 50%;
		}
	}
	.next, .prev {
		font-size: 0;
		width: 24px;
		height: 40px;
		background-size: 100%;
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.prev {
		background-image: url("../images/control-prev.png");
		left: 0;
	}
	.next {
		background-image: url("../images/control-next.png");
		right: 0;
	}
}


.level-3 {
	.container {
		padding: 1% 0;
	}
	.caption {
		color: #626262;
	}
	.img-container {
		display: inline-block;
	}
	.owl-carousel {
		.owl-nav {
			.owl-prev,
			.owl-next {
				font-size: 0;
				position: absolute;
				width: 24px;
				height: 40px;
				background-size: 100%;
			}
			.owl-prev {
				background-image: url("../images/control-prev.png");
				left: 0;
				top: -5px;
			}
			.owl-next {
				background-image: url("../images/control-next.png");
				right: 0;
				top: -5px;
			}
		}
		.owl-item img {
			width: 60%;
			margin: 0 auto;
		}
	}
}
 
 
.level-4 {
	padding: 4% 0;
	background: #e2e7ed;
	z-index: 0;
	position: relative;

	.container {
		text-align: center;
	}
	.contact-form {
		text-align: left;
		display: inline-block;
		vertical-align: top;
		margin-right: 5%;
		position: relative;

		fieldset {
			position: relative;
		}
		.item {
			padding: 5px;
			display: block;
			font-size:16px;
			width: 370px;
			line-height: 1.8;
			margin: 0 0 20px 0;
			border: 2px solid #e2e7ed;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
		}
		.message {
			padding: 5px;
		}
		.submit {
			font-size: 22px;
			border: 0;
			padding: 10px 60px;
			background-color: #00aeff;
			border-radius: 4px;
			cursor: pointer;
			color: #fff;

			&:focus {
				outline:none;
			}
		}
		.sending {
			color: rgb(91, 193, 135);
			padding: 0 0 5px 0;
			opacity: 0;
		}
		.error-message {
			position: absolute;
			color: #f4776d;
			opacity: 0;
		}
		.file-name {
			text-align: right;
			padding: 0 30px 0 0;
		}
		.attech {
			display: inline-block;
			background-color: #f6ab25;
			font-size: 18px;
			padding: 13px 33px;
			color: #000;
			border-radius: 4px;
			font-family: 'open_sansregular', Arial, sans-serif;
			cursor: pointer;
		}
		.file {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			outline: none;
			font-size: 0;
			cursor: pointer;
		}
	}
	.caption{
		color: #626262;
		font-size: 40px;
		padding: 0 0 50px 0;
	}
	input,
	.message {
		color: #31333e;
		font-family: 'Arial';
	}
}
.attech-container {
	display:inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	margin: 0 0 0 30px;

	&:hover .attech {
		background-color: #86FF80;
		-webkit-transition: background 300ms ease;
		-moz-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		-o-transition: background 300ms ease;
		transition: background 300ms ease;
	}
}
.level-4 {
	.map {
		display: inline-block;
		background-color: #e2e7ed;
		padding: 10px;
		height: 355px;
		iframe {
			border: 2px solid #fff;
			width: 400px;
			height: 350px;
		}
	}
}
footer {
	background-color:#31333e;

	.nav {
		margin: 40px 0;
	}
}
.social {
	display: inline-block;
	float: right;
	margin: 25px 0;

	.item {
		display: inline-block;
		margin: 5px;

		 a img {
			opacity: .7;

			&:hover {
				opacity:1;
			}
		}
	}
}
.copyright {
	padding:0 0 10px 0;
}

@media screen and (max-width:1000px){
	.level-3 {
		.next {
			right: 5%;
		}
		.prev {
			left: 5%;
		}
	}
	.level-4 {
		.contact-form {
			margin: 0;
			
			.item {
				margin: 0 0 5px 0;
				width: 280px;
			}
			.submit {
				font-size: 15px;
				padding: 7px 45px;
			}
			.attech {
				font-size: 15px;
				padding: 8px 25px;
			}
		}
		.map {
			padding-top: 0px;

			iframe {
				width: 360px;
				height: 300px;
			}
		}
	}
}

@media screen and (max-width:950px){
	.nav {
		.item {
			.cap {
				font-size: 12px;
			}
		}
	}
	.level-0 {
		.caption {
			font-size: 30px;
			padding: 0px 0 10px 0;
		}
		.container {
			padding: 15px 0;
		}
	}
	.button {
		padding: 10px 30px;
		font-size: 15px;
	}
	.level-1 {
		.servic {
			.topic {
				font-size: 22px;
			}
			.text {
				font-size: 10px;
			}
			a {
				font-size: 14px;
			}
		}
	}
	.level-2 {
		.gallery {
			width: 100%;
		}
	}
	.caption {
		font-size: 18px;
		padding: 10px 0;
	}
	.level-3 .container {
		padding: 1% 0;
	}
}
@media screen and (max-width:850px){
	.logo-container {
		display: block;

		.logo {
			display: block;
			margin: 10px auto;
		}
	}
	.search-container {
		float: none;
	}
	.nav.head {
		margin: 15px 30px;
	}
	.level-3 {
		.next {
			right: 0;
		}
		.prev {
			left: 0;
		}
	}
	.level-4 {
		padding: 2% 0;

		.caption {
			font-size: 24px;
			padding: 0 0 15px 0;
		}
		.map iframe {
			width: 70%;
			display: block;
			margin: 0 auto;
		}
	}
}
@media screen and (max-width:800px){
	.level-4 {
		padding-bottom: 0;

		.map {
			height: 325px;
			display: block;
		}
	}
	.level-2 {
		.gallery a img {
			width: 150px;
			height: 140px;
		}
	}
}
@media screen and (max-width:750px){
	.nav {
		.item {
			margin: 0 10px 0 0;

			&:after {
				margin-left: 10px;
			}
		}
	}
	.level-1 .container {
		padding: 30px 0;
	}
	.level-2 .gallery {
		width: 70%;
	}
	.social {
		float: none;
		display: block;
		text-align: center;
		margin: 5px 0;
	}
	footer {
		text-align: center;
	}
	footer .nav {
		margin: 20px 0;
	}
}
@media screen and (max-width:600px){
	.main-content #sidebar-toggle {
		padding: 8px 5px;
		margin: 2px;
	}
	.swipe-area {
		width: 33px;
	}
	.wrapper {
		padding: 0 2%;
	}
	header {
		text-align: center;
	}
	.nav.head {
		display: block;
		float: none;
	}
	.level-3 .next {
		right: -12px;
	}
	.level-3 .prev {
		left: -25px;
	}
}
@media screen and (max-width:550px){
	.level-2 .gallery {
		width: 100%;
	}
	.level-3 {
		display: none;
	}
}
@media screen and (max-width:500px){
	.level-4 .map iframe {
		width: 75%;
	}
	.level-0 .caption {
		font-size: 20px;
	}
}
@media screen and (max-width:450px){
	.level-4 .map iframe {
		width: 80%;
	}
	.attech-container {
		margin: 0 0 0 10px;
	}
	.level-1 .servic .topic {
		font-size: 16px;
	}
	.level-1 .servic {
		width: 32%;
	}
	.nav.head {
		margin: 15px 0px;
	}
	.level-4 .map iframe {
		height: 200px;
	}
	.level-4 .map {
		height: 225px;
	}
}
@media screen and (max-width:400px){
	.nav > .item {
		margin: 0 20px 0 0;
	}
	.nav > .item::after {
		margin-left: 20px;
	}
	.level-2 .gallery a img {
		width: 115px;
		height: 100px;
	}
}


